.page-festival-menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page-festival-menu .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}

.page-festival-menu .overlap {
  position: relative;
  width: 3000px;
  height: 2000px;
  top: -359px;
  left: -823px;
}

.page-festival-menu .rectangle {
  position: absolute;
  width: 1920px;
  height: 912px;
  top: 527px;
  left: 823px;
  background-color: #00000061;
}

.page-festival-menu .rectangle-accueil {
  position: absolute;
  width: 3000px;
  height: 2000px;
  top: 0;
  left: 0;
}

.page-festival-menu .image-fond {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 359px;
  left: 823px;
  object-fit: cover;
}

.page-festival-menu .opaque {
  position: absolute;
  width: 1920px;
  height: 916px;
  top: 523px;
  left: 823px;
  background-color: #00000061;
}

.page-festival-menu .rectangle-dgrad {
  position: absolute;
  width: 1920px;
  height: 167px;
  top: 359px;
  left: 823px;
  background: linear-gradient(
    90deg,
    rgb(255, 11.26, 230.63) 7.44%,
    rgb(162.56, 108.46, 195.71) 52.6%,
    rgb(0.21, 209.14, 255) 100%
  );
}

.page-festival-menu .search-bar {
  position: absolute;
  width: 371px;
  height: 35px;
  top: 424px;
  left: 2249px;
}

.page-festival-menu .div {
  position: absolute;
  width: 598px;
  height: 688px;
  top: 656px;
  left: 2040px;
  background-color: #00000033;
  border: 3px solid;
  border-color: #000000;
}

.page-festival-menu .text-wrapper {
  position: absolute;
  top: 684px;
  left: 2107px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.page-festival-menu .image-fest {
  position: absolute;
  width: 821px;
  height: 318px;
  top: 665px;
  left: 866px;
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #000000;
}

.page-festival-menu .image-info {
  position: absolute;
  width: 821px;
  height: 318px;
  top: 1026px;
  left: 866px;
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #000000;
}

.page-festival-menu .text-wrapper-2 {
  position: absolute;
  top: 774px;
  left: 1070px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.page-festival-menu .p {
  position: absolute;
  top: 1096px;
  left: 891px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.page-festival-menu .menu-hamburger {
  position: absolute;
  width: 401px;
  height: 1080px;
  top: 359px;
  left: 823px;
}

.page-festival-menu .overlap-group {
  position: relative;
  width: 393px;
  height: 1080px;
  background: linear-gradient(180deg, rgb(255, 11, 231) 22.3%, rgb(0, 193.8, 255) 100%);
}

.page-festival-menu .rectangle-2 {
  position: absolute;
  width: 393px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.3;
}

.page-festival-menu .xxxxxx-xxxxxx-xxxxxx {
  position: absolute;
  top: 495px;
  left: 80px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.page-festival-menu .text-wrapper-3 {
  position: absolute;
  top: 452px;
  left: 17px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-festival-menu .span-wrapper {
  position: absolute;
  top: 247px;
  left: 73px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.page-festival-menu .span {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
}

.page-festival-menu .text-wrapper-4 {
  position: absolute;
  top: 199px;
  left: 22px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-festival-menu .menu-hamburger-2 {
  position: absolute;
  width: 76px;
  height: 63px;
  top: 52px;
  left: 43px;
  transform: rotate(-90deg);
}

.page-festival-menu .rectangle-3 {
  position: absolute;
  width: 76px;
  height: 15px;
  top: 23px;
  left: 0;
  background-color: #000000;
}

.page-festival-menu .rectangle-4 {
  position: absolute;
  width: 76px;
  height: 15px;
  top: 48px;
  left: 0;
  background-color: #000000;
}

.page-festival-menu .rectangle-5 {
  position: absolute;
  width: 76px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: #1e1e1e;
}

.page-festival-menu .ligne-noir-sparation {
  position: absolute;
  width: 1920px;
  height: 5px;
  top: 523px;
  left: 823px;
  background-color: #000000;
  filter: blur(4px);
}

.page-festival-menu .opaque-2 {
  position: absolute;
  width: 295px;
  height: 164px;
  top: 359px;
  left: 1216px;
  transform: rotate(-180deg);
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.29) 0%, rgba(217, 217, 217, 0) 100%);
}

.page-festival-menu .text-wrapper-5 {
  position: absolute;
  width: 425px;
  top: 563px;
  left: 1570px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}
