*{
  margin: 0;
  padding: 0;
} 


@media only screen and (max-width: 600px) {
  /* Styles spécifiques pour les écrans de 600 pixels de large et moins */

  body {
    background-image:url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
  }





}
