*{
  margin: 0;
  padding: 0;
} 

body{
  background: black;
  overflow: hidden;
}

/* Barre navigation */
header .nav {
  background-color: #FFFFFF;
  z-index: 2;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: 0.3s;
}

/* Logo */

header .nav .logo{
  font-size: 1.5rem;
  color: #CDC5EB;
}


/* Menu Hamburger */

header .nav .nav-list{
  display: flex;
  position: absolute;
  align-items: center;
  gap: 2.2rem;
  color: #8975D1; 
  list-style: none;
  text-align: center;
  padding: 0.4rem;
  font-size: 1.4rem;
  transition: 0.3s;
  z-index: 2;
  @media screen and (max-width: 8000px){
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: -1rem;
    background-color: rgba(174, 174, 174, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 100vh;
    right: -100%;
    justify-content: center;
  }
}

header .nav .nav-list a{
  text-decoration: none;
  color: inherit;
  transition: all 0.3 ease;
}

header .nav .nav-list a:hover{
  color: #CDC5EB;
}

header .nav .nav-list .rect{
  border: 2px solid #8975D1;
  border-radius: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  color: #CDC5EB;
  transition: 0.3s;
}



header .nav .btn{
  background: transparent;
  border: 2px solid #8975D1;
  border-radius: 0.5rem;
  cursor: pointer;
  display: none;
  z-index: 2;
  @media screen and (max-width: 8000px){
    display: block;     
    position: absolute;
    top:4%;
    right:0.5%;
  }
}

header .nav .btn:hover{
  background: rgba(0, 0, 0, 0.667);
}

header .nav .btn .row{
  transition: all 0.3s;
  transform-origin: center;
}

/**
@media screen and (max-width: 8000px) {
  .btn {
    position: absolute;
    left: 0;
  }
}
**/

header .btn_accueil{
  border: transparent;
}

/* Search Bar*/
header .nav .search-box{
  position: absolute;
  top: 50%;
  right: -2%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: 0.5rem;
}

header .nav .search-box:hover{
  background-color: rgba(53, 53, 53, 0.741);
}

header .nav .search-box:hover > .search-btn{
  background: white;
}

header .nav .search-btn{
  color: #CDC5EB;
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav .search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  line-height: 1.5rem;
  
}



main{
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_fond {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  opacity: 1;
  }

/* Rectangle actualités */

main .div-actu{
  position: absolute;
  z-index: 1;
  background-color: aqua;
  height: 2.5rem;
  width: 10rem;
  transform: translate(-40.5rem,-14.5rem);
  padding: 0.2rem;
  border-radius: 1.5rem;
}

main .div-actu:hover{
  background-color: rgb(0, 179, 179);
}

main .text-actu{
  text-align: center;
}

/* Page actualité -- BASE*/
main .scroll-bg{
  z-index: 1;
  background: aqua;
  width: 80rem;
  height: 34rem;
  border-radius: 1.5rem;
  transform: translate(7%,15%);
  position: relative;
}

main .scroll-div{
  width: 78rem;
  background: rgb(0, 213, 255);
  height: 32rem;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  transform: translate(1.5%,3.3%);
}

/* Le rond, voilà */
.rond{
  position: absolute;
  background-color: aliceblue;
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  transform: translate(-34.3rem,-11.5rem);
}

/* Rectangle intérieur */
main .festi_name{
  background-color: rgba(0, 0, 0, 0.463);
  border: 5px solid black;
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  height: 5rem;
  width: 100%;
  position: absolute;
  text-align: center;
  padding: 0.8rem;
  font-size: 35px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .festi_name:hover{
  background-color: rgba(0, 0, 0, 0.741);
}

main .festi_text{
  background-color: rgba(0, 0, 0, 0.574);
  border: 5px solid black;
  border-radius: 1.5rem;
  margin-top: 10rem;
  margin-left: 1.3rem;
  height: 35rem;
  width: 30rem;
  position: absolute;  
}




.card{
  width: 20rem;
  height: 28rem;
  transform: translate(33rem,8rem);
  perspective: 500px;
  border-radius: 1.5rem;
  border: 5px solid black;
}

.content-card{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 15s ease-out;
}

.content-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.card2{
  width: 20rem;
  height: 13.8rem;
  transform: translate(55rem,-4rem);
  perspective: 500px;
  border-radius: 1.5rem;
  border: 5px solid black;
}




main .festi_text .festi_text_1{
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  font-size: 20px;
}

main .festi_text:hover{
  background-color: rgba(0, 0, 0, 0.741);
}

.text_li {
  list-style: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0.5rem;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0.5rem;
}




/*
main .scroll-text{
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 0.8rem;
  text-align: left;
}
*/


/* Scroll bar custom */

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  background: rgb(255, 255, 255);
  border-radius: 1.5rem;
}


::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bff81,#ff22e57e);
  border-radius: 1.5rem;
  border: .10em solid hsl(0, 0%, 100%);
  opacity: 0.;
}

::-webkit-scrollbar-thumb:hover{
  background:  linear-gradient(#642bff,#ff22e5);
}

main .white-gradiant{
  height: 100rem;
  z-index: 0;
  width: 15%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.768), rgba(255, 255, 255, 0.520), rgba(255, 255, 255, 0.107), rgba(255, 255, 255, 0.019));
  position: absolute;
  left: 0px;
}